@font-face {
    font-family: "OrticaLight";
    src: url("assets/fonts/zarathustra-typeface-master/ZAR_font/zarathustra-v01.otf") format("otf");
    font-style: regular; 
  }

@font-face {
    font-family: "Anthony";
    src: url("assets/fonts/anthony-master/fonts/web/Anthony.woff") format("woff"),
         url("assets/fonts/anthony-master/fonts/web/Anthony.woff2") format("woff2");
    font-style: regular; 
  }


body{
font-family: 'Catamaran', sans-serif;
    background: rgb(181,66,237);
    background: linear-gradient(90deg, rgba(181,66,237,1) 0%, rgba(208,66,237,1) 16%, rgba(173,193,43,1) 100%);
    background-size: cover;
    color: white;
}

h1{
  font-family: "Anthony", cursive;
  font-size: 60pt;
}

h2{
  font-family: "Anthony", cursive;
  font-size: 25pt;
}

a{
    color: greenyellow;
    font-family: 'Anthony';
    text-decoration: none;
    font-size: 25pt;
}

a:hover{
  text-decoration: none;
}


.main {
    width: 80%;
    padding: 3% 10%;
    
}

#header{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

#home, #guidelines, #details, #info{
  font-family: "Anthony", cursive;
  border-radius: 50px;
  border: 2px solid white;
  padding: 20px;
  width: 20%;
  text-align: center;
}

#home:hover, #guidelines:hover, #details:hover, #info:hover{
  border: 2px white dotted;
  cursor: pointer;  
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  width: 35vw;
  z-index: -1;
  animation: move 30s ease-in-out infinite;
  transform-origin: 50% 50%;
  opacity: 50%;
}

@keyframes move {
  0%   { transform: scale(1)   translate(10px, -30px); }
  38%  { transform: scale(0.8, 1) translate(60vw, 20vh) rotate(140deg); }
  40%  { transform: scale(0.8, 1) translate(60vw, 20vh) rotate(140deg); }
  78%  { transform: scale(0.5) translate(0vw, 30vh) rotate(-20deg); }
  80%  { transform: scale(0.5) translate(0vw, 30vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -30px); }
}

.blob2 {
  position: absolute;
  top: 200;
  left: 200;
  width: 35vw;
  z-index: -1;
  animation: move2 30s ease-in-out infinite;
  transform-origin: 50% 50%;
  opacity: 50%;
}

@keyframes move2 {
  0%   { transform: scale(1)   translate(40px, -10px); }
  38%  { transform: scale(0.5) translate(10vw, 50vh) rotate(180deg); }
  40%  { transform: scale(0.5) translate(10vw, 50vh) rotate(180deg); }
  78%  { transform: scale(0.8, 1) translate(40vw, 10vh) rotate(-80deg); }
  80%  { transform: scale(0.8, 1) translate(40vw, 10vh) rotate(-40deg); }
  100% { transform: scale(1)   translate(40px, -10px); }
}

#homeText, #infoText, #detailsText, #guidelinesText{
    padding: 5%;
    font-size: 18pt;
}

#homeText{
    text-align: center;
}

#infoText, #detailsText, #guidelinesText{
    height: 90%;
}

#infoTab, #detailsTab, #guidelinesTab{
    display: none;
}

#submitButton{
  font-family: "Anthony", cursive;
  border-radius: 50px;
  border: 2px solid greenyellow;
  text-align: center;
  padding: 20px;
  width: 50%;
  margin: auto;
}

#submitButton:hover{
  border: 2px dotted greenyellow;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

body {
    margin-top: 10%;
    margin-bottom: 10%;
  }

#main{
    width: 90%;
    padding: 10% 10%; 
      }
      
      #homeH1{
    font-size: 500% !important;
  }
      
#home{
          display: none;
      }
      
#guidelines, #details, #info{
  font-family: "Anthony", cursive;
  border-radius: 50px;
  border: 2px solid white;
  padding: 20px;
  margin: 10px;
  width: 30%;
  text-align: center;
  font-size: 250%;
}
      
#homeH2{
    text-align: center;
    margin: auto;
    font-size: 50px;
}
      
h2{
    text-align: center;
    margin: auto;
    font-size: 150%;
    padding: 5% 0;
}
      
#infoText, #detailsText, #guidelinesText{
    font-size: 30pt;
}
      
a{
  font-size: 34pt;
}

#submitButton{
  font-family: "Anthony", cursive;
  border-radius: 50px;
  border: 2px solid greenyellow;
  text-align: center;
  padding: 5% 0;
  width: 80%;
  margin: auto;
  font-size: 150%;
}
      
}